{% extends 'arya/layout.html' %}
{% load arya_list %}


{% block content %}

    <div class="container">
        <h1>数据列表</h1>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="row" style="padding: 5px 0">
                <!-- 定制Action -->
                {% if cl.actions %}
                    {% show_action cl %}
                {% endif %}
                <!-- 添加按钮 -->
                {{ cl.add_btn|safe }}
            </div>
            <div class="row">
                <!-- 数据表格 -->
                {% show_result_list cl %}
                <div style="text-align: right">
                    <ul class="pagination" style="margin: 0;">
                        {{ cl.pager.page_html|safe }}
                    </ul>
                </div>
            </div>

        </form>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('#headCheckBox').click(function () {
                $(this).parent().parent().parent().next().find(':checkbox').prop('checked', $(this).prop('checked'));
            })

        })

    </script>
{% endblock %}