{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'arya/plugins/bootstrap-3.3.7-dist/css/bootstrap.css'%}" />
    {% block css %}{% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

    <script src="{% static 'arya/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'arya/plugins/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    {% block js %} {% endblock %}
</body>
</html>